.getting-started {
    height: 100%
}

.header {
    position: relative
}

.header .title {
    height: 300px;
    background-color: #DC2228;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center
}

.header .header-image {
    height: auto;
    max-width: 100%;
    max-height: 322px;
    margin-left: 0;
    margin-top: -107px
}

.header .header-image_2 {
    display: none
}

.header .header-title-span {
    width: 100%;
    text-align: center;
    margin-top: -95px;
    margin-left: 0
}

.header p {
    font-family: "3ds";
    color: white;
    text-shadow: 0 13px 66.5px rgba(0, 60, 90, 0.22);
    margin-bottom: 0
}

.header .fonticon {
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px
}

.header .block {
    width: 100%
}

.header .content-wrapper,
.header .content-wrapper content,
.header .content-wrapper content div {
    width: 100%;
    margin-bottom: 14px
}

.header .content-wrapper h3 {
    color: #DC2228;
    font-size: 24px;
    font-family: "3ds"
}

.header .content-wrapper .subtitle {
    color: #77797c;
    font-size: 18px;
    font-family: "Arial";
    font-weight: normal
}

.header .content-wrapper .description {
    color: #77797c;
    font-size: 18px;
    font-family: "Arial"
}

.header .clearfix {
    display: none !important
}

.header content div:nth-child(2n) {
    display: block
}

content {
    display: block;
    padding: 35px;
    padding-bottom: 0;
    position: relative;
    z-index: 2
}

content div:nth-child(2n) {
    text-align: center;
    justify-content: center;
    display: flex
}

content div:nth-child(2n) img {
    width: 466px;
    height: 350px
}

content div:first-child {
    width: 100%;
    order: 0
}

.content-no-overflow:nth-child(2n) content div:first-child {
    order: 1
}

.content-no-overflow {
    overflow: hidden
}

div.content-wrapper {
    position: relative
}

div.content-wrapper:after {
    font-size: 1270px;
    display: inline-block;
    font-family: entypo;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: inherit;
    text-align: center;
    margin: 0 .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    color: lightblue;
    top: -85%;
    left: 58%;
    margin: -300px 0 0 -200px;
    z-index: 1
}

.content-no-overflow.block1 {
    background-color: #f9f9f9
}

.content-no-overflow.block1 div.content-wrapper:after {
    content: '\e335';
    color: #f1f5f9
}

.content-no-overflow.block2 {
    background-color: #d5e8f2
}

.content-no-overflow.block2 div.content-wrapper:after {
    content: '\e100';
    color: #cfe6f9;
    right: 44%;
    left: initial
}

.content-no-overflow.block3 {
    background-color: #f9f9f9
}

.content-no-overflow.block3 div.content-wrapper:after {
    content: '\e240';
    color: #f1f5f9;
    top: -2%;
    font-size: 948px
}

.content-no-overflow.block4 div.content-wrapper:after {
    content: '\e443';
    color: #f1f5f9;
    right: 44%;
    left: initial;
    top: -36%;
    left: -37%;
    font-size: 948px
}

content h3 {
    font-weight: normal;
    font-size: 40px;
    font-family: "3ds";
    color: #DC2228;
    line-height: 1.2
}

content p.subtitle {
    font-size: 24px;
    font-family: "Arial";
    color: #77797c;
    font-weight: bold;
    line-height: 1.2
}

content p.description {
    font-size: 18px;
    font-family: "Arial";
    color: #3d3d3d;
    line-height: 1.2
}

.dweight {
    font-weight: 700 !important
}

p.subtitle .dweight {
    font-weight: 800 !important
}

@media screen and (max-width:408px) {
    .header-image {
        margin-top: -82px !important;
        height: 221px !important
    }
    .header-title-span {
        margin-top: -65px !important
    }
}

@media screen and (min-width:1355px) {
    .my-account-tablist-scroller-ctn {
        display: none
    }
    header content {
        height: auto;
        padding: 0 !important
    }
    content {
        display: flex;
        padding: 0;
        height: 600px
    }
    content div:first-child {
        width: calc(50% - 75px);
        padding: 55px;
        padding-top: 119px;
        padding-right: 150px
    }
    content div:nth-child(2n) {
        width: calc(50% + 75px)
    }
    content div:nth-child(2n) img {
        max-height: 100%;
        height: 600px;
        min-width: 800px
    }
    .header {
        height: 300px;
        display: flex
    }
    .header .header-image_2 {
        display: block
    }
    .header .header-title-span {
        margin-left: 282px;
        text-align: left;
        margin-top: 5%
    }
    .header .header-image_2 {
        float: none
    }
    .header .header-image {
        max-height: 600px;
        position: absolute;
        left: 8px;
        top: -150px;
        margin-top: 0
    }
    .header .block {
        width: calc(50% - 44px);
        padding: 0;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 15px;
        padding-right: 150px
    }
    .header .block h3 {
        margin-top: 0
    }
    .header .title {
        width: calc(50% - 44px);
        height: 100%
    }
    .header div:first-child {
        padding: 0
    }
    .block1,
    .block3 {
        padding-right: 150px
    }
    .block1 div.content-wrapper,
    .block3 div.content-wrapper {
        padding-left: 0
    }
    .block2,
    .block4 {
        padding-left: 150px
    }
    .block2 div.content-wrapper,
    .block4 div.content-wrapper {
        padding-right: 0
    }
    .block3 img {
        margin-right: 75px
    }
}

@media screen and (min-width:1355px) {
    .header .header-image {
        max-height: 322px;
        left: calc( ((50% -44px) / 2) - 177px);
        top: 35px
    }
    .header .header-title-span {
        margin-top: 110px;
        margin-left: 0;
        width: 100%;
        text-align: center
    }
}

@media screen and (min-width:1774px) {
    .header .title {
        padding-left: 150px !important
    }
    .header .header-image {
        max-height: 600px;
        position: absolute;
        left: 8px;
        top: -150px;
        margin-top: 0
    }
    .header .header-title-span {
        margin-left: 282px;
        text-align: left;
        margin-top: 5%;
        padding-right: 20%
    }
}